coordinator={% if presto_install_coordinator %}
true
{% else %}
false
{% endif %}
{% if presto_install_coordinator %}
discovery-server.enabled=true
node-scheduler.include-coordinator={% if presto_install_worker %}
true
{% else %}
false
{% endif %}
{% endif %}
http-server.http.port={{presto_http_port}}
query.max-memory={{presto_query_max_memory}}
query.max-memory-per-node={{presto_query_max_memory_per_node}}
discovery.uri=http://{{ groups['presto-coordinator'].0 }}:{{presto_http_port}}



