#!/bin/bash
# {{ansible_managed}}
# Reference: http://stackoverflow.com/questions/59895/can-a-bash-script-tell-what-directory-its-stored-in
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

JAVA_HOME={{ presto_java_home }} PATH=$JAVA_HOME/bin:$PATH \
$DIR/presto-cli.jar --server {{presto_coordinator_host}}:{{presto_http_port}} --catalog hive --schema default

